@page "/info"
<PageTitle>Eldritch Library - App Info</PageTitle>

<h3>Application Information</h3>
<p>Below you will find the helpful information pages about this app. </p>

<div class="row">
    <!-- Navigation Links -->
    <div class="col-12 text-start">
        <a href="/info/about">About</a> |
        <a href="/info/privacy">Privacy Policy</a> |
        <a href="/info/terms">Terms of Service</a> |
        <a href="mailto:d20tek.contact@gmail.com?subject=Eldritch%20Library%20Inquiry">
            Contact
        </a> |
        <span class="social-icons">
            <a href="https://x.com/DarthPedro99" target="_blank"><i class="bi bi-twitter"></i></a>
            @* <a href="https://facebook.com" target="_blank"><i class="bi bi-facebook"></i></a> *@
            <a href="https://darthpedro.net" target="_blank"><i class="bi bi-globe2"></i></a>
        </span>
    </div>
</div>
