<footer class="footer-nav border-top">
    <nav class="navbar navbar-expand fixed-bottom">
        <div class="container d-flex justify-content-center">
            <div class="nav-items d-flex justify-content-around">
                <NavLink href="/" class="nav-link" Match="NavLinkMatch.All">
                    <i class="bi bi-house"></i>
                    <span class="nav-label">Home</span>
                </NavLink>
                <NavLink href="/counter" class="nav-link">
                    <i class="bi bi-plus-circle"></i>
                    <span class="nav-label">Counter</span>
                </NavLink>
                <NavLink href="/weather" class="nav-link">
                    <i class="bi bi-cloud-sun"></i>
                    <span class="nav-label">Weather</span>
                </NavLink>
            </div>
        </div>
    </nav>
</footer>
