@inherits LayoutComponentBase
<div class="page">
    <main>
        <div class="top-row px-2 px-md-4">
            <a class="navbar-brand text-decoration-none d-flex align-items-center gap-2" href=""
               style="min-width: 210px">
                <img style="width: 32px; height:32px;" src="/icon-192.png" />
                <span class="h3 mb-0">Eldritch Library</span>
            </a>
            <AccessControl />
        </div>

        <article class="content px-4 main-content">
            @Body
        </article>
    </main>

    <FooterNavMenu />
</div>
