@inherits LayoutComponentBase
<div class="page">
    <main>
        <div class="top-row px-4">
            <h3>Eldritch Library</h3>
        </div>

        <article class="content px-4 main-content">
            @Body
        </article>
    </main>

    <FooterNavMenu />
</div>
