@if (Errors.Any())
{
<div class="alert alert-danger show p-2 mt-3" role="alert">
    @if (Errors.Length == 1)
    {
        var error = Errors.First();
        <div><strong>@ErrorTitle:</strong> @error.Message [@error.Code]</div>
    }
    else
    {
        <div><strong>@ErrorTitle:</strong> Multiple error messages:</div>
        foreach (var error in Errors)
        {
        <div> * @error.Message [@error.Code]</div>
        }
    }
</div>
}

@code {

    [Parameter]
    public string ErrorTitle { get; set; } = Constants.DefaultErrorTitle;

    [Parameter]
    public Error[] Errors { get; set; } = [];
}