<a href="@Constants.DonationUrl" class="btn btn-outline-light p-2 mt-2 text-start"
   style="width: 150px;" target="_blank">
    <img height="24" class="mx-2" src="/images/icons/donate-icon.png" alt="Donate at ko-fi.com" />
    Donate
</a>
