<button class="btn btn-outline-light" @attributes="AdditionalAttributes" type="button"
        disabled="@_isLoading" @onclick="HandleSubmitAsync">
    <span class="@_iconClass" aria-hidden="true"></span>
    <span class="@_labelClass" role="status">@Label</span>
</button>
