@if (_isLoading)
{
    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
    @if (string.IsNullOrEmpty(Label) is false)
    {
        <em class="ms-1">@Label</em>
    }
}

@code {
    private bool _isLoading = false;

    [Parameter]
    public string Label { get; set; } = Constants.Loading.DefaultLabel;

    [Parameter]
    public int SpinnerDelay { get; set; } = 100;

    protected override async Task OnInitializedAsync()
    {
        if (SpinnerDelay > 0) await Task.Delay(SpinnerDelay);
        _isLoading = true;
    }
}
