@if (Links?.Any() == true)
{
    <div class="me-2 mt-1">
        @foreach (var link in Links)
        {
            <a href="@link.Url"
               target="_bookLink"
               class="btn btn-outline-light btn-sm me-2"
               title="@link.Source">
                @switch (link.Source)
                {
                    case BookLink.Type.Amazon:
                        <i class="bi bi-amazon" style="color: #ff9900;"></i>
                        break;
                    case BookLink.Type.Ebay:
                        <img class="logo-image" src="/images/icons/ebay-logo.png" />
                        break;
                    case BookLink.Type.Wikipedia:
                        <i class="bi bi-wikipedia"></i>
                        break;
                    case BookLink.Type.DriveThruRPG:
                        <img class="logo-image" src="/images/icons/drive-thru-logo.png" />
                        break;
                }
            </a>
        }
    </div>
}

@code {
    [Parameter]
    public BookLink[] Links { get; set; } = [];
}
